body {
  background-color: gray;
}

#navbar {
  list-style-type: none;
}

#navlist{
  float: left;
}

#navlist a{
  text-decoration: none;
  padding: 20px;
  background-color: black;
  color: white;
}

#navlist a:hover{
  background-color: white;
  color: black;
}

ol li{
  font-size: 20px;
}